.hero-container {
  max-width: 680px;
}
.hero-title {
  color: white;
  font-size: 56px;
  margin-bottom: 20px;
}

.hero-title span {
  color: #ffde00;
}

.hero-results {
  position: absolute;
  width: 100%;
  max-height: min(300px, 30vh);
  background-color: #fff;
  list-style: none;
  padding-left: 0;
  overflow: auto;
}

.hero-results li {
  font-size: 18px;
  padding: 15px 10px;
}

.hero-results li:hover {
  cursor: pointer;
  background: #bdbdbd;
}

.hero-results li:not(:last-child) {
  border-bottom: 1px solid #f5f1f1;
}

.search-comp {
  width: 30%;
  position: relative;
}

label {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0px 10px;
}

.icon {
  position: absolute;
  left: 98%;
  top: 16%;
  color: #9aa0a6;
}

input {
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  max-width: 100%;
  outline: none;
  border: 1px solid #dfe1e5;
  font-size: 21px;
}

input:focus {
  outline: #cdced1 auto 1px;
}
